body{
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.invisible{
  display: none;
}

.sec{
  margin-top: 5%;
  font-family: Arial;
}

header h1{
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-size: 45px;
}

header hr{
  color: black;
  border-color: black;
  border: 0px;
  background-color: black;
  text-shadow: none;
  width: 60%;
  height: 5px;
  text-align: center;
}

header .language_category{
  background-color: none;
  -webkit-transition: background 3s;
  font-family: Arial;
  margin-left: 13%;
  font-size: 30px;
  float: left;
  padding: 20px;
  margin-right: 2%;
  border-radius: 15px;

}

header .language_category:hover{
  background-color: white;
  -webkit-transition: background 0.6s;
}

header .language_category.selected{
  background-color: white;
}

header #php{
  margin-right: 0;
}
