/* Body BG color change */

body{
  -webkit-transition: background 3s;
}

.body_html{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.body_js{
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.body_php{
  background-image: linear-gradient(to right, #5ee7df 0%, #b490ca 100%);
}

.body_css{
  background-image: linear-gradient(to right, #9795f0 0%, #fbc8d4 100%);
}

/* Contentselections */
.visible{
  display: block;
}

.invisible{
  display: none;
}

.csec{
  font-family: Arial;
  background-color: white;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
}

.sec{
  margin-top: 5%;
}

/* Header */

header{
  margin-bottom: 10px;
  display: block;
}

header h1{
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-size: 45px;
}

header hr{
  color: black;
  border-color: black;
  border: 0px;
  background-color: black;
  text-shadow: none;
  width: 60%;
  height: 5px;
  text-align: center;
}

header .language_category{
  background-color: none;
  -webkit-transition: background 3s;
  font-family: Arial;
  margin-left: 13%;
  font-size: 30px;
  float: left;
  padding: 20px;
  margin-right: 2%;
  border-radius: 15px;

}

header .language_category:hover{
  background-color: white;
  -webkit-transition: background 0.6s;
}

header .language_category.selected{
  background-color: white;
}

header #php{
  margin-right: 0;
}
